<main
  class="grid place-content-center h-screen p-6 bg-green-900 text-white text-center"
>
  <a
    href="https://www.linkedin.com/in/alain-t-6a95071ba"
    target="_blank"
    class="hover:text-yellow-400 duration-300"
    ><h1 class="text-2xl font-bold">Alain TRAN</h1></a
  >
  <h2 class="text-xl font-medium">
    <a
      routerLink="/projects"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="hover:text-yellow-400 duration-300"
      >Frontend Developer</a
    >
  </h2>
  <p class="text-xs font-bold">LOL</p>
</main>

<router-outlet />
