---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="p-6 border-2 rounded-sm border-gold">
	<a href={href} target="_blank">
		<h2>
			{title}
		</h2>
		<br />
		<p>
			{body}
		</p>
	</a>
</li>
