<ul class="grid grid-flow-col justify-center gap-6">
	<li>
		<a class="inline-block max-w-full" href="https://twitter.com/alaintran90">
			<img class="w-8 h-8" src="./assets/twitter-icon.svg" alt="" />
			<span class="sr-only">my Twitter</span>
		</a>
	</li>
	<li>
		<a
			class="inline-block max-w-full"
			href="https://www.linkedin.com/in/alain-tran-6a95071ba/"
			target="_blank"
		>
			<img class="w-8 h-8" src="./assets/linkedin-icon.svg" alt="" />
			<span class="sr-only">my LinkedIn</span>
		</a>
	</li>
	<li>
		<a
			class="inline-block max-w-full"
			href="mailto:alaint77@gmail.com"
			target="_blank"
		>
			<img class="w-8 h-8" src="./assets/at-icon.svg" alt="" />
			<span class="sr-only">my E-mail</span>
		</a>
	</li>
</ul>
<p class="text-center text-xs">
	Built with <a
		class="text-coral-red"
		href="https://astro.build/"
		target="_blank">Astro</a
	> and <a
		class="text-coral-red"
		href="https://tailwindcss.com/"
		target="_blank">TailwindCSS</a
	>, illustrations from <a
		class="text-coral-red"
		href="https://undraw.co/"
		target="_blank">unDraw</a
	>
</p>
