---
import Nav from "./Nav.astro";
---

<h1 class="text-3xl font-bold text-center">
	Alain Tran <br />
	<strong class="text-gold">Frontend</strong> Developer
</h1>
<h2 class="text-base font-bold text-center text-old-lace italic">
	Preparing new design for my website! <br /> (Last update 22/05/2023)
</h2>
<Nav />
