<nav>
	<ul class="grid grid-flow-col gap-6 justify-center text-2xl">
		<li><a href="/" class="hover:text-coral-red transition-colors">Home</a></li>
		<li>
			<a href="/projects" class="hover:text-coral-red transition-colors"
				>Projects</a>
		</li>
	</ul>
</nav>
