<div class="grid place-content-center w-full h-dvh bg-primary-400">
	<main>
		<div class="space-y-2 text-center">
			<a href="https://www.linkedin.com/in/alain-t-6a95071ba/" target="_blank" class="block text-2xl text-secondary-400 duration-300 hover:text-white">Alain TRAN</a>
			<p class="text-xl font-medium uppercase text-white">Frontend developer</p>
			<p class="text-white">Currently working on: <a href="https://miasin.app" target="_blank" class="underline underline-offset-2 font-semibold hover:text-white">Miasin</a></p>
		</div>
	</main>
</div>
