<div>
	<main>
		<div>
			<a href="https://www.linkedin.com/in/alain-t-6a95071ba/" target="_blank">Alain TRAN</a>
			<p>Frontend developer</p>
			<a href="https://miasin.app" target="_blank">Miasin</a>
		</div>
	</main>
</div>
