---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alain Tran - Frontend Developer">
	<div class="max-w-5xl mx-auto">
		<h2 class="mb-7 text-2xl font-bold text-center">
			Currently working for <a
				href="https://www.opsone.net/"
				target="_blank"
				class="text-coral-red leading-7 text-3xl">Opsone</a
			> as <strong class="text-coral-red font-bold text-3xl"
				>Frontend Developer</strong
			> (since November 2019)
		</h2>
		<p class="mb-7 text-2xl font-bold text-center">
			Notable <a href="/projects" class="text-coral-red leading-7 text-3xl"
				>projects</a
			> with my amazing team
		</p>
		<ul class="grid md:grid-cols-2 gap-6">
			<li
				class="first-letter:mr-3 first-letter:text-5xl first-letter:font-bold first-letter:float-left first-letter:text-coral-red"
			>
				Journeying into the world of frontend development specializing in
				building awesome user interfaces for websites and apps. I bring designs
				to life and make sure everything runs smoothly. I'm all about making
				things look great, work well, and provide a user-friendly experience.
			</li>
			<li
				class="first-letter:mr-3 first-letter:text-5xl first-letter:font-bold first-letter:float-left first-letter:text-coral-red"
			>
				Simply put, I find joy in writing clean and organized code! I strive for
				efficiency, following best practices and coding standards. This way, the
				codebase is easy to understand, collaborate on, and ready for future
				growth.
			</li>
		</ul>
	</div>
	<p class="text-2xl font-bold text-center">Skills</p>
	<ul class="flex gap-4 flex-wrap justify-center">
		<li class="text-coral-red">JavaScript</li>
		<li>CSS / SCSS / TailwindCSS</li>
		<li class="text-coral-red">E2E Testing</li>
	</ul>
</Layout>
