---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alain Tran - Frontend Developer - Projects list">
	<div class="grid place-content-center p-6">
		<ul class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-6">
			<Card
				href="https://www.lustucru-selection.fr"
				title="Lustucru Selection"
				body="Wordpress - JavaScript - SCSS"
			/>
			<Card
				href="https://www.panzanifoodservice.com"
				title="Panzani Food Service"
				body="Wordpress - JavaScript - SCSS"
			/>
			<Card
				href="https://www.opsone.net"
				title="Opsone"
				body="Wordpress - JavaScript - SCSS"
			/>
			<Card
				href="https://www.belairmonange.com"
				title="Bélair-Monange"
				body="Drupal - JavaScript - SCSS"
			/>
			<Card
				href="https://www.delphiayachts.com"
				title="Delphiayachts"
				body="Drupal - StimulusJS - SCSS"
			/>
			<Card
				href="https://www.beneteau.com"
				title="Beneteau"
				body="Drupal - StimulusJS - SCSS"
			/>
			<Card
				href="https://www.timevallee.com"
				title="TimeVallée"
				body="Rails - JavaScript - SCSS"
			/>
			<Card
				href="https://www.enacr.com/"
				title="Enacr (Homepage)"
				body="Rails - JavaScript - SCSS"
			/>
		</ul>
	</div>
</Layout>
