---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alain Tran - Frontend Developer - Projects list">
	<div class="grid place-content-center mb-12">
		<div class="grid grid-flow-row gap-8">
			<Card
				href="https://www.beneteau.com"
				title="Beneteau"
				cms="Drupal"
				css="SCSS"
				js="JavaScript - Stimulus.JS"
				img="/assets/boat.svg"
				desc=""
			/>
			<Card
				href="https://www.lustucru-selection.fr"
				title="Lustucru Selection"
				cms="Wordpress"
				css="SCSS"
				js="JavaScript"
				img="/assets/food.svg"
				desc=""
			/>
			<Card
				href="https://www.opsone.net"
				title="Opsone"
				cms="Wordpress"
				css="SCSS"
				js="JavaScript"
				img="/assets/web.svg"
				desc=""
			/>
			<Card
				href="https://www.belairmonange.com"
				title="Bélair-Monange"
				cms="Drupal"
				css="SCSS"
				js="JavaScript"
				img="/assets/wine.svg"
				desc=""
			/>
			<Card
				href="https://www.delphiayachts.com"
				title="Delphia Boats"
				cms="Drupal"
				css="SCSS"
				js="JavaScript - Stimulus.JS"
				img="/assets/boat.svg"
				desc=""
			/>
			<Card
				href="https://www.panzanifoodservice.com"
				title="Panzani Food Service"
				cms="Wordpress"
				css="SCSS"
				js="JavaScript"
				img="/assets/food.svg"
				desc=""
			/>
			<Card
				href="https://www.timevallee.com"
				title="TimeVallée"
				cms="Rails"
				css="SCSS"
				js="JavaScript"
				img="/assets/watche.svg"
				desc=""
			/>
			<Card
				href="https://www.enacr.com/"
				title="Enacr (Homepage)"
				cms="Rails"
				css="SCSS"
				js="JavaScript"
				img="/assets/artist.svg"
				desc=""
			/>
		</div>
	</div>
</Layout>
