<div class="p-6 bg-yellow-500 text-green-900 font-semibold">
  <nav>
    <ul>
      <li><a href="https://www.ciamt.org" target="_blank">Ciamt</a></li>
      <li><a href="https://www.beneteau.com" target="_blank">Beneteau</a></li>
      <li>
        <a href="https://www.delphiayachts.com" target="_blank"
          >Delphia Yachts</a
        >
      </li>
      <li>
        <a href="https://www.lustucru-selection.fr" target="_blank"
          >Lustucru Selection</a
        >
      </li>
      <li><a href="https://www.opsone.net" target="_blank">Opsone</a></li>
      <li>
        <a href="https://www.panzanifoodservice.com" target="_blank"
          >Panzani Food Service</a
        >
      </li>
      <li>
        <a href="https://www.belairmonange.com" target="_blank"
          >Belair Monange</a
        >
      </li>
    </ul>
  </nav>
</div>
